<table class="table">
  <tbody>
    <tr>
      <td>Diagonal</td>
      <td>{{ product.diagonal }}</td>
    </tr>
      <tr>
      <td>Display type</td>
      <td>{{ product.display_type }}</td>
    </tr>
      <tr>
      <td>Screen resolution</td>
      <td>{{ product.resolution }}</td>
    </tr>
      <tr>
      <td>Battery capacity</td>
      <td>{{ product.accum_volume }}</td>
    </tr>
      <tr>
      <td>Ram</td>
      <td>{{ product.ram }}</td>
    </tr>
      <tr>
      <td>Sd card</td>
      <td>{{ product.sd }}</td>
    </tr>
    <tr>
      <td>Maximum SD card memory</td>
      <td>{{ product.sd_volume_ma }}</td>
    </tr>
    <tr>
      <td>Main camera</td>
      <td>{{ product.main_cam_mp }}</td>
    </tr>
    <tr>
      <td>Front camera</td>
      <td>{{ product.frontal_cam_mp }}</td>
    </tr>
  </tbody>
</table>